<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="app-title text-white fw-bold p-3 pt-4">
            <i class="fa-solid fa-house"></i>ဗေဒင်
        </div>
        <div class="text-center">
            <span>ပင်မစာမျက်နှာ</span>
        </div>
        <form action="" method="get">
            <div class="d-flex flex-row menu mt-5 mx-2 ">
                <input type="submit" name="page" value="ရာသီခွင်" class="px-4 py-4">
                <input type="submit" name="page" value="ဗေဒင်" class="px-4 py-4">
            </div>
            <div class="d-flex flex-row menu mt-5 mx-2">
                <input type="submit" value="ရာသီစာဟောစာတမ်း" name="page" class="px-4 py-4">
                <input type="submit" value="တာ‌ရော့ကဒ်" name="page" class="px-4 py-4">
            </div>
        </form>
        <style>
            body{
                background: #08131f;
            }
            .container{
                width: 350px;
                height: 580px;
    background: #1c253f;
    border-radius: 40px;
    margin-top: 10px;
}
.text-center{
    color: white;
}
.heading{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div .menu{
    color: white;
    border-radius: 10px;
    font-size: 13px;
    initial-letter: 1px;
    cursor: pointer;
    padding-left: 20px;
}
div .menu input{
    width: 140px;
    height: 70px;
    border-radius: 15px;
}

        </style>

    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/all.min.js"></script>
    <script src="/app.js"></script>
</body>
</html>