<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="app-title text-white fw-bold p-3 pt-4">
            <i class="fa-solid fa-arrow"></i>ဗေဒင်
        </div>  
        <div class="text-center btn-close-white mt-4">
            <span class="heading">တာ‌ရော့ကဒ် </span>  
        </div>
        <div>
            <div>
                <span>ကြိုက်နှစ်သက်ရာကဒ်တစ်ကဒ်အားရွေးချယ်ပါ</span>
            </div>


            <div class="image">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
                    <img src="images.jpg" alt="image" class="poster">
            </div>
        </div>    
    </div>
    <style>
body{
    background: #08131f;
}
.container{
    width: 350px;
    height: 580px;
    background: #1c253f;
    border-radius: 40px;
    margin-top: 10px;
}
.heading{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
span{
    color: white;
    font-size: 17px;
    font-weight: bold;
}
.image{
    padding-left: 20px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.poster{
    border-radius: 10px;
    width: 80px;
    height: 50px;
}

    </style>
    <script src="../Assest/bootstrap-5.2.0-dist/js/bootstrap.min.js"></script>
    <script src="../Assest/fontawesome-free-6.1.2-web/js/all.min.js"></script>
</body>
</html>